.register__input {
  width: 358px;
  font-size: 14px;
  line-height: 100%;
  background-color: rgba(0, 0, 0, 1);
  margin-bottom: 30px;
  border-style: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  padding: 0 0 8px 0;
  color: rgba(255, 255, 255, 1);
}

/*.register__input:nth-child(2n) {
  margin-top: 13px;
}

@media screen and (max-width: 767px) {
  .register__input {
    width: 238px;
  }
}*/