.element__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background: url(../../../images/Trash.svg);
  object-fit: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: content-box;
  display: none;
}

.element__trash:hover {
  opacity: 50%;
}